<%
const altText = type === "signup" ? `<div style="font-size:12.5px;">Already have an account? please <a href="/login?redirect_to=${encodeURIComponent(redirectTo)}">Log in</a></div>` : `<div style="font-size:12.5px;">Don't have an account? please <a href="/signup?redirect_to=${encodeURIComponent(redirectTo)}">sign up</a></div>`;
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="container-fluid d-flex justify-content-center align-items-center bg-warning pt-2 pb-2">
        <div class="title-conteiner conteiner-sm d-flex justify-content-center align-items-center flex-column">
            <h1 class="h1"><a href="/admin" class="text-dark" style="text-decoration:none;">MBY444</a></h1>
            <h4 class="h4"><%= title %></h4>
        </div>
    </header>
    <div class="main-container container-fluid pt-4 pb-2 d-flex justify-content-center align-items-center flex-column">
        <% if (error) { %>
            <div class="alert alert-danger text-center" style="width:90%; max-width:500px;">
                <%= error %>
            </div>
        <% } %>
        <form action="/<%= type %>?redirect_to=<%= encodeURIComponent(redirectTo) %>" method="post" class="sign-form container-sm" style="max-width:500px;">
            <input type="email" name="email" required id="email-input" class="form-control mt-3 mb-2" placeholder="Email">
            <input type="password" name="password" required id="password-input" class="form-control mt-3 mb-2" placeholder="Password">
            <input type="hidden" name="original_url" value="<%= encodeURIComponent(originalUrl) %>">
            <%- altText %>
            <a href="<%= redirectTo %>" class="btn btn-outline-secondary text-dark p-4 pt-2 pb-2 mt-4 mb-2">Cancel</a>
            <input type="submit" value="<%= title %>" class="submit-btn btn btn-dark text-white p-4 pt-2 pb-2 mt-4 mb-2">
        </form>
    </div>
</body>
</html>