<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body <%= `onload=loadPage('${collName}')` %>>
    <% if (data.length > 0) { %>
        <div class="btn-container container p-2 pt-4 pb-4">
            <a href="/admin" class="btn btn-warning text-white">Home</a>
            <button class="clear-btn btn btn-danger text-white">Delete all</button>
            <% if (collName === "users") { %>
                <a href="/admin/user/new" class="clear-btn btn btn-success text-white">Add</a>
            <% } %>
        </div>
        <div class="count-container container p-2 pt-1 pb-1">
            <ul>
                <% for (let key in count) { %>
                    <li><%= key %>: <%= count[key] %></li>
                <% } %>
            </ul>
        </div>
        <% if (maxPage > 1) { %>
            <div class="pointer container-sm d-flex justify-content-center mt-2 mb-5">
                <a href="/admin/collection?name=<%= collName %>&page=<%= currentPage > 1 ? currentPage - 1 : 1 %>&sort=<%= sort %>" class="btn btn-dark text-white">&#10094;</a>
                <input type="text" value="Page <%= currentPage %> of <%= maxPage %>" class="text-center" disabled>
                <a href="/admin/collection?name=<%= collName %>&page=<%= currentPage < maxPage ? currentPage + 1 : maxPage %>&sort=<%= sort %>" class="btn btn-dark text-white">&#10095;</a>
            </div>
        <% } %>
        <% if (data.length > 1) { %>
            <div class="dropdown-container container container-fluid">
                <div class="dropdown">
                    <button class="btn btn-dark btn-sm dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item <%= sort === "newest" ? "active" : "" %>" href="/admin/collection?name=<%= collName %>&page=<%= currentPage %>&sort=newest">Newest</a></li>
                        <li><a class="dropdown-item <%= sort === "oldest" ? "active" : "" %>" href="/admin/collection?name=<%= collName %>&page=<%= currentPage %>&sort=oldest">Oldest</a></li>
                    </ul>
                  </div>
            </div>
        <% } %>
        <div class="table-container container-fluid" style="overflow-x:auto;">
            <table class="table table-striped container-fluid" style="min-width:600px;">
                <thead>
                    <tr>
                        <% for (let key in data[0]) { %>
                            <th><%= key %></th>
                        <% } %>
                        <th style="min-width:150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((d) => { %>
                        <tr>
                            <% for (let key in d) { %>
                                <td><%= d[key] %></td>
                            <% } %>
                            <td>
                                <% if (collName === "requests") { %>
                                    <button class="approve-btn btn btn-success text-white" <%- `onclick="approveData('${d.filmId}', '${d.filmTitle}', '${d.date}')"` %>>Approve</button>
                                <% } else if (collName === "films") { %>
                                    <a href="/admin/film/edit?id=<%= d.filmId %>&url=<%= d.url %>&note=<%= d.note %>" class="edit-btn btn btn-warning text-white">Edit</a>
                                <% } %>
                                <button class="delete-btn btn btn-danger text-white" <%- `onclick="deleteData('${d._id}')"` %>>Delete</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% if (maxPage > 1) { %>
            <div class="pointer container-sm d-flex justify-content-center mt-5 mb-2">
                <a href="/admin/collection?name=<%= collName %>&page=<%= currentPage > 1 ? currentPage - 1 : 1 %>&sort=<%= sort %>" class="btn btn-dark text-white">&#10094;</a>
                <input type="text" value="Page <%= currentPage %> of <%= maxPage %>" class="text-center" disabled>
                <a href="/admin/collection?name=<%= collName %>&page=<%= currentPage < maxPage ? currentPage + 1 : maxPage %>&sort=<%= sort %>" class="btn btn-dark text-white">&#10095;</a>
            </div>
            <div class="jump-container container d-flex justify-content-center pt-2 pb-2">
                <form class="jump-form container d-flex justify-content-center align-items-center pt-4">
                    <input type="hidden" name="name" value="<%= collName %>">
                    <span class="p-2 pt-0 pb-0">Jump to page: </span>
                    <input type="number" name="page" value="<%= currentPage %>" id="jump-input" class="form-control" required style="width:100px;">
                    <input type="submit" value="Go" class="jump-btn btn btn-danger m-2 mt-1 mb-1">
                </form>
            </div>
        <% } %>
    <% } else { %>
        <div class="alert alert-secondary text-center">
            <p>No data</p>
        </div>
    <% } %>
    <script src="/js/collection.js"></script>
</body>
</html>