<% 
const originalTitle = film.title.replace("'", "`");
const releaseYear = film.release_date.split("-")[0];
const filmTitle = film.title + (releaseYear ? ` (${releaseYear})` : "");
const starIcon = `<svg style="position:relative; transform:translate(0,-22%);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>`;

const adultLabel = `<span class="badge bg-danger text-white">18+</span>`;

const checkStar = (number) => parseFloat(number) === userRating?.value ? "checked" : "";
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filmTitle %></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Sweeet alert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js" integrity="sha256-RhRrbx+dLJ7yhikmlbEyQjEaFMSutv6AzLv3m6mQ6PQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/film.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body onload="loadWindow('<%= film.id %>')">
    <header class="container-fluid d-flex justify-content-center align-items-center bg-dark pt-2 pb-2">
        <div <%= `style=background-image:url('https://image.tmdb.org/t/p/w500${film.backdrop_path}');` %> class="backdrop-path conteiner-md d-flex justify-content-center align-items-center flex-column rounded">
            <div class="title-container rounded p-3">
                <h1 translate="no" class="h1 text-center"><%= film.title %></h1>
                <h4 class="h4">The Movie</h4>
            </div>
        </div>
    </header>
    <div class="main-container container-fluid pt-4 pb-4">
        <div class="container-fluid d-flex justify-content-left">
            <a href="/" class="btn btn-danger"><i class="bi bi-house-door-fill"></i><span class="p-2 pt-0 pb-0">Home</span></a>
        </div>
        <div class="summary-container container-md d-flex justify-content-center align-items-centers p-2 pt-4">
            <div class="card m-2" style="width:25vw; max-width:250px; min-width:135px; border:none;">
                <img src="https://image.tmdb.org/t/p/w500<%= film.poster_path %>" alt="Poster">
            </div>
            <div class="info m-4 mt-2 mb-2">
                <h2 translate="no" class="h2"><%= filmTitle %> <%- film.adult ? adultLabel : "" %></h2>
                <div class="genre-container mt-2 mb-2">
                    <% film.genres.forEach((genre) => { %>
                        <span class="badge bg-warning text-dark"><%= genre.name %></span>
                    <% }) %>
                </div>
                <div class="rating-container mt-2 mb-2">
                    <%- starIcon %> <%= film.vote_average %> (<%= film.vote_count %>&nbsp;vote<%= film.vote_count > 1 ? "s" : "" %>)
                </div>
                <div class="duration-container mt-2 mb-2">
                    <%= utils.formatFilmDuration(film.runtime) %>
                </div>
            </div>
        </div>
        <% if (trailerKey) { %>
            <h3 class="h3 trailer text-center pt-5 pb-3">Official Trailer</h3>
            <div class="trailer-video-container d-flex justify-content-center">
                <iframe src="https://youtube.com/embed/<%= trailerKey %>" frameborder="0" allowfullscreen class="trailer-video"></iframe>
            </div>
        <% } %>
        <h3 class="h3 film text-center pt-4 pb-3">Watch</h3>
        <div class="ad-container container d-flex justify-content-center align-items-center pb-2">
            <script type="text/javascript">
                atOptions = {
                    'key' : 'f038207cd64a1282d2e5b936faffee35',
                    'format' : 'iframe',
                    'height' : 60,
                    'width' : 468,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplayformat.com/f038207cd64a1282d2e5b936faffee35/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
        <% if (film.watchURL) { %>
            <div class="watch-container d-flex justify-content-center align-items-center flex-column">
                <a href="<%= film.watchURL %>" target="_blank" class="btn btn-danger p-4 pt-2 pb-2">Watch on G-Drive</a>
                <% if (film.note) { %>
                    <span class="note text-dark text-center pt-3"><i>Note: <%= film.note %></i></span>
                <% } %>
            </div>
        <% } else { %>
            <div class="watch-container container-fluid d-flex justify-content-center" style="flex-direction:column;">
                <p class="text-center p-2">This film is not available yet, click the yellow button bellow to request the film</p>
                <button disabled class="req-btn btn btn-warning p-4 pt-2 pb-2" style="max-width:500px;" <%- `onclick="reqBtnEvent('${film.id}', '${originalTitle}', '${Date()}')"` %>>Request</button>
            </div>
        <% } %>
        <h3 class="h3 text-center mt-5 mb-4">Rate</h3>
        <form action="/info/<%= film.id %>/rating" method="post" class="rating-form container d-flex justify-content-center align-items-center">
                <div class="rate">
                    <input type="radio" id="star10" name="rate" value="10" <%= checkStar(10) %> />
                    <label for="star10" title="text">10 stars</label>
                    <input type="radio" id="star9" name="rate" value="9" <%= checkStar(9) %> />
                    <label for="star9" title="text">9 stars</label>
                    <input type="radio" id="star8" name="rate" value="8" <%= checkStar(8) %> />
                    <label for="star8" title="text">8 stars</label>
                    <input type="radio" id="star7" name="rate" value="7" <%= checkStar(7) %> />
                    <label for="star7" title="text">7 stars</label>
                    <input type="radio" id="star6" name="rate" value="6" <%= checkStar(6) %> />
                    <label for="star6" title="text">6 star</label>
                    <input type="radio" id="star5" name="rate" value="5" <%= checkStar(5) %> />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" <%= checkStar(4) %> />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" <%= checkStar(3) %> />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" <%= checkStar(2) %> />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" <%= checkStar(1) %> />
                    <label for="star1" title="text">1 star</label>
                </div>
            <div class="rating-btn-container">
                <% if (!signStatus.isSigned) { %>
                    <a href="/login?redirect_to=<%= encodeURIComponent(`/info/${film.id}`) %>" class="btn btn-sm btn-outline-dark">Log in</a>
                    <a href="/signup?redirect_to=<%= encodeURIComponent(`/info/${film.id}`) %>" class="btn btn-sm btn-dark">Sign up</a>
                <% } else if (signStatus.isSigned && !signStatus.hasSessionId) { %>
                    <a href="/request_token?redirect_to=<%= encodeURIComponent(`/info/${film.id}`) %>" class="btn btn-sm btn-dark">Log in to TMDB</a>
                <% } else if (userRating) { %>
                    <a href="/info/<%= film.id %>/rating/delete" class="btn btn-sm btn-danger">Delete</a>
                    <button type="submit" class="update-rating-btn btn btn-sm btn-dark disabled">Update</button>
                <% } else { %>
                    <button type="submit" class="submit-rating-btn btn btn-sm btn-dark disabled">Submit</button>
                <% } %>
            </div>
          </form>
        <h3 class="h3 text-center pt-5 pb-3">Overview</h3>
        <div class="overview container-sm pt-2 pb-2">
            <p class="overview-text"><%= film.overview %></p>
        </div>
        <h3 class="h3 text-center pt-5 pb-3">Main Information</h3>
        <div class="main-information-container container-fluid d-flex justify-content-center">
            <table style="overflow: scroll;" class="table table-striped">
                <% mainInformations.forEach((info) => { %>
                    <tr>
                        <td style="width:40%;"><%= info.key %></td>
                        <td style="width:60%;"><%= info.value %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
        <h3 class="h3 text-center pt-5 pb-3">Cast</h3>
        <div class="cast-container container-fluid justify-content-center">
            <% film.casts.forEach((cast, i) => { %>
                <div class="cast-card card m-2">
                    <a href="https://google.com/search?q=<%= cast.name %>" target="_blank">
                        <img src="https://image.tmdb.org/t/p/w500<%= cast.profile_path %>" class="card-img-top" alt="">
                    </a>
                    <div class="card-body">
                      <h6 class="cast-card-title card-title"><%= cast.name %></h6>
                      <p class="card-text"><%= cast.character %></p>
                    </div>
                  </div>
            <% }) %>
        </div>
        <% if (film.casts.length < film.castCount) { %>
            <div class="cast-btn-container container-fluid d-flex justify-content-center">
                <button class="cast-btn btn btn-sm btn-outline-dark p-2 mt-4">Show more</button>
            </div>
        <% } %>
        <div class="ad-container container d-flex justify-content-center align-items-center pt-5 pb-4">
            <script type="text/javascript">
                atOptions = {
                    'key' : 'f038207cd64a1282d2e5b936faffee35',
                    'format' : 'iframe',
                    'height' : 60,
                    'width' : 468,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplayformat.com/f038207cd64a1282d2e5b936faffee35/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
    </div>
    <footer class="container-fluid bg-dark p-2 pt-4 pb-4 mt-5">
        <div class="copyright-container container-fluid text-center mt-4">
            <p class="copyright text-white" style="font-size:12px;">&copy; 2022 <%= new Date().getFullYear() === 2022 ? "" : `- ${new Date().getFullYear()}` %> MBY444</p>
        </div>
    </footer>
    <script src="/js/film.js"></script>
</body>
</html>